#loadingIndicator
{
	display: inline-block;
	width: 100%;
	height: 0.5rem;

	/* Reset the default appearance */
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

	/* Get rid of default border in Firefox. */
	border: none;

	/* Default busy background. */
	background: grey;

	/* Set animation to get desired behaviour */
	animation-name: disconnected;
	animation-duration: 0.80s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
}

@keyframes downloading
{
	from { background-color: var(--border-muted); }
	to { background-color: var(--received-color); }
}

@keyframes connecting
{
	from { background-color: var(--border-muted); }
	to { background-color: var(--pending-color); }
}

@keyframes connected
{
	from { background-color: var(--received-color); }
	to { background-color: var(--received-color); }
}

@keyframes disconnected
{
	from { background-color: var(--sent-color); }
	to { background-color: var(--sent-color); }
}

#loadingIndicator:indeterminate::-webkit-progress-bar
{
	background-color: transparent;
}

#loadingIndicator:indeterminate::-moz-progress-bar
{
	background-color: transparent;
}
