#menu
{
	/* Overrides to prevent default browser styling. */
	max-height: 100%;
	outline: none;

	/* Size */
	width: 80%;
	height: 100%;

	/* Presentation */
	border: none;
	background-color: var(--background);
	box-shadow:
		0.1rem 0rem 0.3rem rgba(0, 0, 0, 0.31),
		0.2rem 0rem 0.5rem rgba(0, 0, 0, 0.13);

	/* behaviour */
	transition:  0.25s ease-out;
	transform: translate(-125%, 0);
}
#menu[open]
{
	display: flex;
	flex-direction: column;
}
#menu.open
{
	transform: translate(0, 0);
}

#menu > .header
{
	display: flex;
	flex-direction: column;
	flex-grow: 0;
	flex-shrink: 0;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 8rem;
	background-color: var(--primary);
	/* background-image: url('../../images/townsville_logo_15.png?as=webp'); */
	background-position: bottom left;
	background-size: cover;
}

#menu > .header > .icon
{
	height: 4rem;
	width: 4rem;
	line-height: 4rem;
	font-size: 2.5rem;
	color: var(--primary);
	background-color: var(--background);
	border-radius: 4rem;
}

#menu > .header > .text
{
	display: flex;
	margin-top: 0.5rem;
	justify-content: center;
}

#menu > .header > .text > .title
{
	height: 2rem;
	font-size: 1.5rem;
	line-height: 2rem;
	font-weight: bold;
	color: var(--background);

	display: inline-block;
	max-width: 16rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#menu > .content
{
	display: block;
	height: auto;
	overflow: auto;
}

#menu > .content > .group
{
	height: auto;
	border-bottom: 0.05rem solid var(--border-muted);
	padding-bottom: 1rem;
	margin-top: 1rem;
}
#menu > .content > .group:last-child
{
	border-bottom: none;
}

#menu > .content > .group > .header
{
	display: none;
	height: auto;
	color: var(--primary-muted);
	font-size: 1.25rem;
	line-height: 1.25rem;
	padding: 0rem 1rem;
	margin-bottom: 1rem;
}

#menu > .content > .group > .item
{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	padding: 0.25rem 0.5rem;
}
#menu > .content > .group > .disabled
{
	opacity: 0.35;
	filter: grayscale(1);
}

#menu > .content > .group > .item > .icon
{
	width: 3rem;
	line-height: 3rem !important;
	font-size: 1.5rem;
	text-align: center;
	opacity: 0.66;
}
#menu > .content > .group > .item > .text
{
	display: flex;
	flex-direction: column;
	height: 3.00rem;
	margin-left: 0.5rem;
	justify-content: center;
}

#menu > .content > .group > .item > .text > .title
{
	color: var(--text);
	height: 1.25rem;
	font-size: 1.00rem;
	line-height: 1.25rem;
	font-weight: bold;
	margin-top: 0.10rem;
}

#menu > .content > .group > .item > .text > .subtitle
{
	color: var(--text-muted);
	height: 1.00rem;
	font-size: 0.75rem;
	line-height: 0.75rem;
	margin-top: 0.10rem;
}

