#amount
{
	display: flex;
	flex-direction: column;

	justify-content: center;
	align-items: center;

	/* Grow to take up some of all available space, but let the rest redistribute  */
	flex-grow: 9999;
}

#amount > b
{
	font-size: 2.25rem;
	margin: 0.5rem;
}

#amount > small
{
	font-size: 1.50rem;
	opacity: 0.5;
}


#numpad
{
	display: grid;
	flex-shrink: 0;

	grid-template-columns: repeat(3, minmax(0, 1fr));
	grid-template-rows: auto;

	padding-left: 1rem;
	padding-right: 1rem;

	margin-left: 2rem;
	margin-right: 2rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

#numpad > button
{
	line-height: 5rem;
	font-size: 2rem;
	font-weight: bold;

	background: transparent;
	border: none;
}

#numpad > button > i
{
	line-height: 5rem !important;
}

#checkout
{
	display: inline-block;
	flex-shrink: 0;

	background-color: var(--primary);

	line-height: 4rem;
	font-size: 1.5rem;

	margin-left: 2rem;
	margin-right: 2rem;
	margin-top: 1rem;
	margin-bottom: 1rem;

	color: var(--background);
	border: none;
	border-radius: 0.25rem;
}

#checkout[disabled]
{
	color: var(--disabled-text);
	background-color: var(--disabled-color);
}

