.serverList
{
}

.serverList > li
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.serverList > li > div.text
{
	display: flex;
	flex-direction: column;
	text-align: left;
	width: 100%;

	margin-left: 0.5rem;
	justify-content: center;
}

.serverList > li > div.text > .title
{
	color: var(--text);
	height: 1.25rem;
	font-size: 1.00rem;
	line-height: 1.25rem;
	font-weight: bold;
	margin-top: 0.10rem;
}

.serverList > li > div.text > .subtitle
{
	color: var(--text-muted);
	height: 1.00rem;
	font-size: 0.75rem;
	line-height: 0.75rem;
	margin-top: 0.10rem;
}
