:root
{
	--white: white;
	--black: black;

	/* bch.info Pallette */
	--green-lll:  rgb(13, 252, 185);
	--green-ll:   rgb(12, 232, 170);
	--green-l:    rgb(11, 211, 155);
	--green:      rgb(10, 193, 142);
	--green-d:    rgb(8, 160, 118);
	--green-dd:   rgb(7, 130, 95);
	--green-ddd:  rgb(5, 99, 73);
	--green-dddd: rgb(3, 69, 50);

	--gray-lll:   rgb(235, 235, 235);
	--gray-ll:    rgb(194, 194, 194);
	--gray-l:     rgb(162, 162, 162);
	--gray:       rgb(135, 135, 135);
	--gray-d:     rgb(110, 110, 110);
	--gray-dd:    rgb(82, 82, 82);
	--gray-ddd:   rgb(31, 31, 31);

	--orange-l:   rgb(255, 182, 96);
	--orange:     rgb(247, 148, 29);
	--orange-d:   rgb(179, 97, 0 );

	--red-l:      rgb(249, 89, 80);
	--red:        rgb(234, 31, 20);
	--red-d:      rgb(174, 13, 5);
}

body
{
	--background:		var(--white);
	--foreground:		var(--black);

	--text:				var(--black);
	--text-muted:		var(--gray-dd);
	--border:			var(--gray-ddd);
	--border-muted:	var(--gray-l);

	--primary:			var(--green);
	--primary-text:	var(--green-ddd);
	--primary-muted:	var(--green-dd);
	--primary-border:	var(--green-dd);
	--primary-focus:	var(--green-d);

	--secondary:		var(--orange);

	--disabled-text:	var(--gray);
	--disabled-color:	var(--gray-ll);
	--disabled-border:var(--gray-d);

	--icon:				var(--black);
	--icon-muted:		var(--gray);
	--icon-border:		var(--gray-ll);

	--pending-color:	var(--orange);
	--sent-color:		var(--red-d);
	--received-color:	var(--green-dd);

	--odd:				rgba(0, 0, 0, 0.042);
	--even:				rgba(0, 0, 0, 0.018);
}

body[nightmode]
{
	--background: var(--black);
	--foreground: var(--gray-lll);

	--text:				var(--gray-ll);
	--text-muted:		var(--gray-l);
	--border:			var(--gray-ddd);
	--border-muted:	var(--gray-d);

	--primary:			var(--green-dddd);
	--primary-text:	var(--green-d);
	--primary-muted:	var(--green-ddd);
	--primary-border:	var(--green-dd);
	--primary-focus:	var(--green-ddd);

	--secondary:		var(--orange);

	--disabled-text:	var(--gray-dd);
	--disabled-color:	var(--gray-ddd);
	--disabled-border:var(--gray-d);

	--icon:				var(--gray-l);
	--icon-muted:		var(--gray);
	--icon-border:		var(--gray-dd);

	--pending-color:	var(--orange-d);
	--sent-color:		var(--red-d);
	--received-color:	var(--green-dd);

	--odd:				rgba(256, 256, 256, 0.10);
	--even:				rgba(256, 256, 256, 0.06);
}
