html,
body
{
	display: flex;
	flex-direction: column;
	align-items: stretch;

	height: 100%;
	min-height: 100%;

	width: 100%;
	min-width: 100%;

	color: var(--text);
	font-size: 15px;
	font-family: 'Roboto';

	background-color: transparent;
}

body,
body *
{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

/* Set dialog backdrops to none first, then their real values after the open class is assigned, to trigger animations. */
dialog::backdrop
{
	transition:  0.25s ease-out;
	background-color: transparent;
	backdrop-filter: blur(0px);
}
dialog.open::backdrop
{
	background-color: rgba(0, 0, 0, 0.50);
	backdrop-filter: blur(2px);
}

hr
{
	border: 0;
	border-bottom: 0.1rem solid var(--border-muted);
}

.icon
{
	flex-shrink: 0;
}
