@font-face
{
	font-family: 'icomoon';
	src: url('../fonts/icomoon.ttf?6pkpku') format('truetype'), url('../fonts/icomoon.woff?6pkpku') format('woff'), url('../fonts/icomoon.svg?6pkpku#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

i
{
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.--key:before {
  content: "\e900";
}
.--backspace:before {
  content: "\e901";
}
.--inbox:before {
  content: "\e902";
}
.--signal:before {
  content: "\e903";
}
.--cloud:before {
  content: "\e90d";
}
.--security:before {
  content: "\e90e";
}
.--theme:before {
  content: "\e90f";
}
.--audio:before {
  content: "\e904";
}
.--audio_off:before {
  content: "\e905";
}
.--tag:before {
  content: "\e90c";
}
.--menu:before {
  content: "\e907";
}
.--history:before {
  content: "\e906";
}
.--lock:before {
  content: "\e908";
}
.--verification:before {
  content: "\e909";
}
.--language:before {
  content: "\e90a";
}
.--storefront:before {
  content: "\e90b";
}
