main > div
{
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.order
{
	
}

.align
{
	
}

.row
{
	display: flex;
	flex-direction: row;
	align-items: flex-end;
}

.column
{
	
}

.center
{
	
}

.left
{
	
}

.right
{
	
}

.top
{
	
}

.bottom
{
	
}
