/**/
@import 'stylesheets/fonts.css';
@import 'stylesheets/colors.css';
@import 'stylesheets/layout.css';
@import 'stylesheets/elements.css';

/**/
@import 'stylesheets/components/menu.css';
@import 'stylesheets/components/numpad.css';
@import 'stylesheets/components/serverList.css';
@import 'stylesheets/components/loading.css';

body
{
}

header
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	width: 100%;
	height: 4rem;
	line-height: 4rem;
	font-size: 2rem;
	background-color: var(--primary);
	color: var(--background);
}

i
{
	display: inline-block;
	font-style: normal;
	font-size: 2rem;
	line-height: 4rem;
	width: 4rem;
	text-align: center;
}

main
{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: stretch;
	text-align: center;

	height: 100%;
	padding: 2rem;
}
